<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>

<body class="bg-zinc-900">
    <div class="main h-fit w-screen bg-zinc-900 font-sans ">

        <nav class="text-white flex justify-center px-5 h-24 w-full bg-[#000] items-center  ">

            <div class="logo flex  text-2xl font-bold cursor-pointer">
                <h2>NOTEPAD</h2>
            </div>
            <!-- <ul class="flex  gap-5 px-2 font-medium cursor-pointer  ">
                <li class="text-xl text-slate-300 hover:text-slate-100">Home</li>
                <li class="text-xl text-slate-300 hover:text-slate-100">About</li>
                <li class="text-xl text-slate-300 hover:text-slate-100">Services</li>
                <li class="text-xl text-slate-300 hover:text-slate-100">Portfolio</li>
                <li class="text-xl text-slate-300 hover:text-slate-100">Contact Us</li>
            </ul> -->
        </nav>

        <header class="h-[92%]">

            <div class="box h-full w-full">

                <section class="p-10">
                    <form action="" method="post">
                        <input name="oldfilename" class=" bg-zinc-700 rounded outline-none px-2 py-1 w-full block mt-5 text-slate-400 lg:w-1/4 " disabled="true" type="text" placeholder="Enter your Title Here " value='🔒 <%= filename %>' >
                        <input name="newfilename" class=" bg-zinc-700 rounded outline-none px-2 py-1 w-full block mt-5 text-white lg:w-1/4 " type="text" placeholder="Enter new filename" >
                        <input class="text-white bg-green-500 px-4 py-2 mt-5 cursor-pointer rounded-lg" type="submit">
                    </form>
                </section>

            </div>

        </header>

    </div>
</body>

</html>